.container {
    background: plum;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform 1.5 linear;
    
}

.container:hover {
    transform: translateX(200px);
    transition: transform 1s linear;
}