.container {
   display: grid;
   justify-items: center;
   grid-template-columns: 1fr;
   gap: 30px;
   margin-top: 20px;
}

.container:hover .circle {
    transform: translateX(200px);
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.one {
    background: red;
    transition: transform 2s linear;
    transition-delay: 0.5s;
}

.two {
    background: blue;
    transition: transform 2s ease;
    transition-delay: 0.5s;
}

.three {
    background: black;
    transition: transform 2s ease-in;
    transition-delay: 0.5s;
}

.four {
    background: yellow;
    transition: transform 2s ease-out;
    transition-delay: 0.5s;
}

.five {
    background: pink;
    transition: transform 2s ease-in-out;
    transition-delay: 0.5s;
}

.six {
    background: gray;
    transition: transform 2s cubic-bezier(.65,-0.37,.22,1.43);
    transition-delay: 0.5s;
}

