/*KEYWORDS ESPECIALES

fr : Es una unidad de medida especial de css grid para darle ancho o alto a filas y columnas 1fr representa una fraccion del total de columnas o filas.

min-content : Ajusta el ancho de la celda lo mínimo posible sin romper su contenido.

max-content : Ajusta el ancho de la celda lo máximo posible para mostrar su contenido.

auto-fill : Agrega columnas “fantasma” que rellenan el espacio sobrante del contenedor.

auto-fit : Ensancha las columnas para que ocupen todo el espacio del contenedor.

auto-fill y auto-fit ayudan a la grilla a ocupar el 100% del espacio disponible.*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr min-content max-content;
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
}

.container-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-top: 100px;
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
}

.container-3{
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
}

.item{
    border: 5px solid #00bcd4;
    font-size: 2rem;
}

